<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pawan Bora</title>
    </head>
    <body>
        <a href="/exm">Exm</a>
        <a href="/aca">academics</a>
        <a href="/self_details">self declaration</a>
    </body>
</html>